Repository microsoft/responsible-ai-toolbox, changes with the owners that CODEOWNERS names for each.
All owners: @gaugup, @imatiach-msft, @xuke444, @romanlutz, @riedgar-ms, @kicha0, @vinuthakaranth, @zhb000, @tongyu-microsoft

CODEOWNERS:

# Error analysis package
/erroranalysis @gaugup @imatiach-msft

# Responsible AI widgets package
/raiwidgets @imatiach-msft @xuke444 @romanlutz

# Responsible AI SDK package
/responsibleai @gaugup @imatiach-msft @riedgar-ms @xuke444 @kicha0

# workspace settings
#/* @xuke444

# App
/apps @xuke444 @vinuthakaranth @zhb000 @romanlutz

#causal ui
/libs/causality @zhb000 @xuke444

#counterfactuals ui
/libs/counterfactuals @zhb000 @xuke444

#dataset-explorer ui
/libs/dataset-explorer @zhb000 @romanlutz @xuke444

#error-analysis ui
/libs/error-analysis @zhb000 @romanlutz @imatiach-msft @xuke444

#fairness ui
/libs/fairness @romanlutz @riedgar-ms @xuke444

#interpret ui
/libs/interpret @zhb000 @romanlutz @gaugup @xuke444

#interpret-text ui
/libs/interpret-text @imatiach-msft @gaugup @tongyu-microsoft @xuke444

#model-assessment ui
/libs/model-assessment @zhb000 @romanlutz @xuke444

update version to match studio (#1357)
  package.json
  yarn.lock
Owners: none

alignment fixes (#1359)
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalIndividualView/CausalIndividualChart.styles.ts
  libs/core-ui/src/lib/Highchart/FeatureImportanceBar.styles.ts
  libs/counterfactuals/src/lib/CounterfactualChart.styles.ts
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/ErrorAnalysisView/ErrorAnalysis.styles.ts
  libs/interpret/src/lib/MLIDashboard/Controls/GlobalExplanationTab/GlobalExplanationTab.styles.ts
  libs/interpret/src/lib/MLIDashboard/Controls/WhatIfTab/LocalImportancePlots.tsx
  libs/interpret/src/lib/MLIDashboard/Controls/WhatIfTab/WhatIfTab.styles.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ModelOverview.styles.ts
Owners: @zhb000, @xuke444, @romanlutz, @imatiach-msft, @gaugup

Add charts for new model overview experience (#1348)
  apps/dashboard-e2e/src/describer/interpret/modelPerformance/describeModelPerformanceStats.ts
  apps/dashboard/src/utils-unit/CalculateBoxPlot.test.tsx
  apps/dashboard/src/utils-unit/WrapYAxisLabel.test.tsx
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/TreatmentView/TreatmentList.tsx
  libs/core-ui/src/index.ts
  libs/core-ui/src/lib/Interfaces/IHighchartBoxData.ts
  libs/core-ui/src/lib/util/StatisticsUtils.ts
  libs/core-ui/src/lib/util/calculateBoxData.ts
  libs/core-ui/src/lib/util/getBoxData.ts
  libs/core-ui/src/lib/util/getFeatureImportanceBoxOptions.ts
  libs/dataset-explorer/src/lib/getDatasetBoxOption.ts
  libs/localization/src/lib/en.json
  libs/model-assessment/src/index.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ChartConfigurationFlyout.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/CohortStatsHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/DatasetCohortStatsTable.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/DisaggregatedAnalysisTable.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ModelOverview.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ModelOverviewChart.styles.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ModelOverviewMetricChart.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ProbabilityDistributionChart.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/StatsTableUtils.ts
  package.json
Owners: @xuke444, @vinuthakaranth, @zhb000, @romanlutz

upgrade python version used with flask CI to fix segfault error (#1363)
  .github/workflows/release-flask.yml
Owners: none

release rai-core-flask 0.3.0 (#1361)
  rai_core_flask/setup.py
Owners: none

release raiwidgets and responsibleai v0.18.0 (#1360)
  CHANGES.md
  raiwidgets/requirements.txt
  version.cfg
Owners: @imatiach-msft, @xuke444, @romanlutz

fix two bugs (#1364)
  libs/core-ui/src/lib/util/getFeatureImportanceBoxOptions.ts
  libs/dataset-explorer/src/lib/getDatasetBoxOption.ts
Owners: @zhb000, @romanlutz, @xuke444

Add pre-built cohort into adult census notebook (#1243)
  apps/widget-e2e/src/describer/modelAssessment/modelAssessmentDatasets.ts
  apps/widget-e2e/src/describer/modelAssessment/modelStatistics/describeModelPerformanceSideBar.ts
  notebooks/responsibleaidashboard/responsibleaidashboard-census-classification-model-debugging.ipynb
Owners: @xuke444, @vinuthakaranth, @zhb000, @romanlutz

Add pre-defined cohorts in responsibleaidashboard-diabetes-decision-making.ipynb (#1252)
  apps/widget-e2e/src/describer/modelAssessment/modelAssessmentDatasets.ts
  notebooks/responsibleaidashboard/responsibleaidashboard-diabetes-decision-making.ipynb
Owners: @xuke444, @vinuthakaranth, @zhb000, @romanlutz

Add more context to download print in fetch_dataset (#1368)
  raiutils/raiutils/dataset/dataset.py
Owners: none

Add missing desired range to counterfactual chart (#1366)
  libs/counterfactuals/src/lib/CounterfactualChart.tsx
Owners: @zhb000, @xuke444

Add a summary for disaggregated analysis showing ratio and difference (#1367)
  .eslintrc/.eslintrc.comments.eslintrc
  apps/dashboard/src/utils-unit/WrapText.test.tsx
  apps/dashboard/src/utils-unit/WrapYAxisLabel.test.tsx
  libs/core-ui/.eslintrc.json
  libs/core-ui/src/index.ts
  libs/core-ui/src/lib/Highchart/Null.tsx
  libs/localization/src/lib/en.json
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/CohortStatsHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/DatasetCohortStatsTable.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/DisaggregatedAnalysisTable.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/FairnessMetricTable.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/StatsTableUtils.ts
Owners: @xuke444, @vinuthakaranth, @zhb000, @romanlutz

Update PR template to be more intuitive (#1116)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none
