Repository microsoft/responsible-ai-toolbox, changes with the owners that CODEOWNERS names for each.
All owners: @gaugup, @imatiach-msft, @RubyZ10, @vinuthakaranth, @tongyu-microsoft, @xuke444, @hawestra, @romanlutz, @kicha0

update
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/IndividualFeatureImportanceView/LargeIndividualFeatureImportanceView/LargeIndividualFeatureImportanceView.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/IndividualFeatureImportanceView/LargeIndividualFeatureImportanceView/LocalImportanceChart.tsx
Owners: @romanlutz, @xuke444, @tongyu-microsoft, @vinuthakaranth, @RubyZ10, @hawestra

move background color to outer div
  apps/dashboard/src/app/App.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @RubyZ10, @hawestra

Add E2E test for adding the cohort info in CausalInsightsTab
  libs/e2e/src/lib/describer/modelAssessment/causalAnalysis/describeAggregateCausalAffects.ts
Owners: @vinuthakaranth, @tongyu-microsoft, @romanlutz, @imatiach-msft, @RubyZ10, @xuke444, @hawestra

move background color to outer div (#2084)
  apps/dashboard/src/app/App.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @RubyZ10, @hawestra

snap update
  apps/dashboard/src/app/__snapshots__/App.test.tsx.snap
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @RubyZ10, @hawestra

add
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditorPanelContent.tsx
  libs/core-ui/src/lib/util/buildInitialContext.ts
  libs/core-ui/src/lib/util/datasetUtils/getColumnRanges.ts
Owners: @imatiach-msft, @tongyu-microsoft, @xuke444, @RubyZ10, @vinuthakaranth, @romanlutz, @hawestra

fix multi selection
  libs/dataset-explorer/src/lib/TableView/TableView.styles.ts
  libs/dataset-explorer/src/lib/TableView/TableView.tsx
  libs/dataset-explorer/src/lib/TableView/TableViewGroupHeader.tsx
Owners: @romanlutz, @xuke444, @tongyu-microsoft, @vinuthakaranth, @RubyZ10, @hawestra

Revert "fix outline bug and add contributors to readme (#2081)"
  README.md
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/CohortStatsHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ConfusionMatrixHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/FairnessMetricTable.tsx
Owners: @romanlutz, @xuke444, @tongyu-microsoft, @vinuthakaranth, @RubyZ10, @hawestra

Add the contributors
  README.md
Owners: none

Revert another PR
  apps/dashboard/src/app/App.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @RubyZ10, @hawestra

Revert "fix outline bug" (#2086)
  apps/dashboard/src/app/App.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/CohortStatsHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ConfusionMatrixHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/FairnessMetricTable.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @RubyZ10, @hawestra

deploy: bde66f749de98e3945722fd76eefd432b7813706
  raiwidgets.html
Owners: none

update
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditorFilter.tsx
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditorPanelContent.tsx
  libs/core-ui/src/lib/util/buildInitialContext.ts
  libs/core-ui/src/lib/util/datasetUtils/getColumnRanges.ts
Owners: @imatiach-msft, @tongyu-microsoft, @xuke444, @RubyZ10, @vinuthakaranth, @romanlutz, @hawestra

lintfix
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditorFilter.tsx
  libs/core-ui/src/lib/util/datasetUtils/getColumnRanges.ts
Owners: @imatiach-msft, @tongyu-microsoft, @xuke444, @RubyZ10, @vinuthakaranth, @romanlutz, @hawestra

fix multi selection (#2087)
  libs/dataset-explorer/src/lib/TableView/TableView.styles.ts
  libs/dataset-explorer/src/lib/TableView/TableView.tsx
  libs/dataset-explorer/src/lib/TableView/TableViewGroupHeader.tsx
Owners: @romanlutz, @xuke444, @tongyu-microsoft, @vinuthakaranth, @RubyZ10, @hawestra

index
  libs/core-ui/src/lib/util/datasetUtils/getColumnRanges.ts
Owners: @imatiach-msft, @tongyu-microsoft, @xuke444, @RubyZ10, @vinuthakaranth, @romanlutz, @hawestra

Add user feedback to compute() function (#697)
  responsibleai/responsibleai/managers/causal_manager.py
  responsibleai/responsibleai/managers/counterfactual_manager.py
  responsibleai/responsibleai/managers/error_analysis_manager.py
  responsibleai/responsibleai/managers/explainer_manager.py
  responsibleai/responsibleai/utils.py
Owners: @gaugup, @imatiach-msft, @xuke444, @kicha0, @RubyZ10, @vinuthakaranth, @tongyu-microsoft, @hawestra

snap update
  apps/dashboard/src/app/__snapshots__/App.test.tsx.snap
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @RubyZ10, @hawestra

Update requirements-dev.txt to put back pin for rai_core_flask
  rai_core_flask/requirements-dev.txt
Owners: none

Remove un-needed `requests` dependency and remove pins (#2083)
  erroranalysis/requirements-dev.txt
  rai_test_utils/requirements-dev.txt
  raiutils/requirements-dev.txt
  raiwidgets/requirements-dev.txt
Owners: @gaugup, @imatiach-msft, @RubyZ10, @vinuthakaranth, @tongyu-microsoft, @xuke444, @hawestra, @romanlutz

undo revert
  apps/dashboard/src/app/App.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/CohortStatsHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ConfusionMatrixHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/FairnessMetricTable.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @RubyZ10, @hawestra

update test
  apps/dashboard/src/app/__snapshots__/App.test.tsx.snap
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @RubyZ10, @hawestra

remove tspan
  libs/e2e/src/lib/describer/modelAssessment/Constants.ts
Owners: @vinuthakaranth, @tongyu-microsoft, @romanlutz, @imatiach-msft, @RubyZ10, @xuke444, @hawestra

[Big Data] Fix create cohort, filter range for index and dataset (#2089)
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditorFilter.tsx
  libs/core-ui/src/lib/util/datasetUtils/getColumnRanges.ts
Owners: @imatiach-msft, @tongyu-microsoft, @xuke444, @RubyZ10, @vinuthakaranth, @romanlutz, @hawestra

set font color
  libs/e2e/src/lib/describer/modelAssessment/Constants.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/CohortStatsHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ConfusionMatrixHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/FairnessMetricTable.tsx
Owners: @vinuthakaranth, @tongyu-microsoft, @romanlutz, @imatiach-msft, @RubyZ10, @xuke444, @hawestra

Show message to select bubble after bubble plot renders (#2070)
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/IndividualFeatureImportanceView/LargeIndividualFeatureImportanceView/LargeIndividualFeatureImportanceView.tsx
Owners: @romanlutz, @xuke444, @tongyu-microsoft, @vinuthakaranth, @RubyZ10, @hawestra

CODEOWNERS:

# Error analysis package
/erroranalysis @gaugup @imatiach-msft @RubyZ10 @vinuthakaranth @tongyu-microsoft @xuke444 @hawestra

# Responsible AI widgets package
/raiwidgets @imatiach-msft @xuke444 @romanlutz @RubyZ10 @vinuthakaranth @tongyu-microsoft @hawestra

# Responsible AI SDK package
/responsibleai @gaugup @imatiach-msft @xuke444 @kicha0 @RubyZ10 @vinuthakaranth @tongyu-microsoft @hawestra

# App
/apps @tongyu-microsoft @romanlutz @vinuthakaranth @xuke444 @RubyZ10 @hawestra

#causal ui
/libs/causality @tongyu-microsoft @romanlutz @vinuthakaranth @xuke444 @RubyZ10 @hawestra

#counterfactuals ui
/libs/counterfactuals @tongyu-microsoft @romanlutz @vinuthakaranth @xuke444 @RubyZ10 @hawestra

#dataset-explorer ui
/libs/dataset-explorer @romanlutz @xuke444 @tongyu-microsoft @vinuthakaranth @RubyZ10 @hawestra

#error-analysis ui
/libs/error-analysis @romanlutz @imatiach-msft @xuke444 @tongyu-microsoft @vinuthakaranth @RubyZ10 @hawestra

#fairness ui
/libs/fairness @romanlutz @xuke444 @tongyu-microsoft @vinuthakaranth @RubyZ10 @hawestra

#interpret ui
/libs/interpret @romanlutz @gaugup @xuke444 @tongyu-microsoft @vinuthakaranth @RubyZ10 @hawestra

#interpret-text ui
/libs/interpret-text @imatiach-msft @gaugup @tongyu-microsoft @xuke444 @RubyZ10 @vinuthakaranth @hawestra

#interpret-vision ui
/libs/interpret-vision @imatiach-msft @gaugup @tongyu-microsoft @xuke444 @RubyZ10 @vinuthakaranth @hawestra

#model-assessment ui
/libs/model-assessment @romanlutz @xuke444 @tongyu-microsoft @vinuthakaranth @RubyZ10 @hawestra

#e2e tests
/libs/e2e @vinuthakaranth @tongyu-microsoft @romanlutz @imatiach-msft @RubyZ10 @xuke444 @hawestra

#core ui
/libs/core-ui @imatiach-msft @tongyu-microsoft @xuke444 @RubyZ10 @vinuthakaranth @romanlutz @hawestra
