Repository microsoft/responsible-ai-toolbox, changes with the owners that CODEOWNERS names for each.
All owners: @gaugup, @imatiach-msft, @xuke444, @romanlutz, @riedgar-ms, @kicha0, @vinuthakaranth, @tongyu-microsoft

Raise UserConfigValidationException in case no model but valid model serializer (#1325)
  responsibleai/responsibleai/rai_insights/rai_insights.py
  responsibleai/tests/test_rai_insights_validations.py
Owners: @gaugup, @imatiach-msft, @riedgar-ms, @xuke444, @kicha0

show shift to an empty cohort in tree view as an empty node (#1318)
  erroranalysis/erroranalysis/_internal/cohort_filter.py
  erroranalysis/erroranalysis/_internal/constants.py
  erroranalysis/erroranalysis/_internal/surrogate_error_tree.py
  erroranalysis/erroranalysis/version.py
  erroranalysis/tests/test_surrogate_error_tree.py
Owners: @gaugup, @imatiach-msft

Bug fixing (#1326)
  apps/widget-e2e/src/describer/modelAssessment/Constants.ts
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalAggregateView/CausalAggregateChart.tsx
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalAggregateView/CausalAggregateStyles.ts
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalAggregateView/CausalAggregateView.tsx
  libs/core-ui/src/lib/Cohort/CohortInfoSection/CohortInfoSection.tsx
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/MainMenu/MainMenu.tsx
  libs/localization/src/lib/en.json
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Cohort/CreateGlobalCohortButton.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/MainMenu.tsx
Owners: @xuke444, @vinuthakaranth, @romanlutz, @tongyu-microsoft, @imatiach-msft

Add box outlier for dataset explorer (#1323)
  libs/core-ui/src/lib/util/calculateBoxData.ts
  libs/core-ui/src/lib/util/getBoxData.ts
  libs/core-ui/src/lib/util/getFeatureImportanceBoxOptions.ts
  libs/dataset-explorer/src/lib/getDatasetBoxOption.ts
Owners: @romanlutz, @xuke444

update string when no datapoint selected (#1331)
  apps/dashboard-e2e/src/describer/interpret/individualFeatureImportance/describeDataPointChart.ts
  apps/widget-e2e/src/describer/modelAssessment/featureImportances/individualFeatureImportance/describeTabularDataView.ts
  libs/localization/src/lib/en.json
Owners: @xuke444, @vinuthakaranth, @romanlutz

Fix Big empty space for featureImportance chart (#1328)
  apps/widget-e2e/src/describer/modelAssessment/Constants.ts
  apps/widget-e2e/src/describer/modelAssessment/featureImportances/aggregateFeatureImportance/describeCohortFunctionality.ts
  libs/core-ui/src/lib/Highchart/BasicHighChart.tsx
  libs/core-ui/src/lib/Highchart/FeatureImportanceBar.tsx
  libs/core-ui/src/lib/util/getFeatureImportanceBarOptions.ts
  libs/core-ui/src/lib/util/getFeatureImportanceBoxOptions.ts
  libs/interpret/src/lib/MLIDashboard/Controls/GlobalExplanationTab/SidePanel.tsx
Owners: @xuke444, @vinuthakaranth, @romanlutz, @gaugup

Disable save as new cohort button if nothing is selected in error tree (#1327)
  apps/widget-e2e/src/describer/modelAssessment/Constants.ts
  apps/widget-e2e/src/describer/modelAssessment/errorAnalysis/describeErrorAnalysis.ts
  apps/widget-e2e/src/describer/modelAssessment/errorAnalysis/describeErrorAnalysisCohortInfo.ts
  apps/widget-e2e/src/describer/modelAssessment/errorAnalysis/describeErrorAnalysisTreeMap.ts
  apps/widget-e2e/src/describer/modelAssessment/modelAssessmentDatasets.ts
  apps/widget-e2e/src/integration/modelAssessment/responsibleaitoolboxClassificationModelAssessment/errorAnalysis.spec.ts
  apps/widget-e2e/src/integration/modelAssessment/responsibleaitoolboxDiabetesDecisionMaking/errorAnalysis.spec.ts
  apps/widget-e2e/src/integration/modelAssessment/responsibleaitoolboxDiabetesModelDebugging/errorAnalysis.spec.ts
  apps/widget-e2e/src/integration/modelAssessment/responsibleaitoolboxHousingClassification/errorAnalysis.spec.ts
  apps/widget-e2e/src/integration/modelAssessment/responsibleaitoolboxHousingDecisionMaking/errorAnalysis.spec.ts
  apps/widget-e2e/src/integration/modelAssessment/responsibleaitoolboxMulticlassDnnModelDebugging/errorAnalysis.spec.ts
  libs/core-ui/src/lib/Cohort/CohortInfo/CohortInfo.tsx
Owners: @xuke444, @vinuthakaranth, @romanlutz

Add disaggregated analysis table/heatmap (#1332)
  libs/core-ui/src/lib/Interfaces/IDataset.ts
  libs/localization/src/lib/en.json
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/CohortStatsHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/DatasetCohortStatsTable.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/DisaggregatedAnalysisTable.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/DisaggregatedAnalysisUtils.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ModelOverview.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/StatsTableUtils.ts
Owners: @romanlutz, @xuke444

Change warning message to user exception for model type and task type mismatch (#1330)
  responsibleai/responsibleai/rai_insights/rai_insights.py
  responsibleai/tests/test_model_analysis_validations.py
  responsibleai/tests/test_rai_insights_validations.py
Owners: @gaugup, @imatiach-msft, @riedgar-ms, @xuke444, @kicha0

Change the counterfactual text color from black to grey (#1337)
  libs/counterfactuals/src/lib/CounterfactualPanel.tsx
  libs/counterfactuals/src/lib/CounterfactualPanelStyles.ts
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444

Limit each component description width up to 750px for readability (#1336)
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalAggregateView/CausalAggregateStyles.ts
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalIndividualView/CausalIndividualStyles.ts
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/TreatmentView/TreatmentStyles.ts
  libs/core-ui/src/index.ts
  libs/core-ui/src/lib/util/getCommonStyles.ts
  libs/counterfactuals/src/lib/CounterfactualsTab.styles.ts
  libs/counterfactuals/src/lib/CounterfactualsTab.tsx
  libs/dataset-explorer/src/lib/DatasetExplorerTab.styles.ts
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/TreeViewRenderer/TreeViewRenderer.styles.ts
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/TreeViewRenderer/TreeViewRenderer.tsx
  libs/interpret/src/lib/MLIDashboard/Controls/GlobalExplanationTab/GlobalExplanationTab.styles.ts
  libs/interpret/src/lib/MLIDashboard/Controls/ModelPerformanceTab/ModelPerformanceTab.styles.ts
  libs/interpret/src/lib/MLIDashboard/Controls/WhatIfTab/WhatIfTab.styles.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/IndividualFeatureImportanceView.styles.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/IndividualFeatureImportanceView.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ModelOverview.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @imatiach-msft, @gaugup

block empty cohort creation in RAI Dashboard (#1335)
  apps/dashboard-e2e/src/describer/interpret/cohort/describeCreateCohort.ts
  apps/widget-e2e/src/describer/modelAssessment/Constants.ts
  apps/widget-e2e/src/describer/modelAssessment/dataExplorer/describeCohortFunctionality.ts
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditor.tsx
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/EmptyCohortDialog.tsx
  libs/localization/src/lib/en.json
Owners: @xuke444, @vinuthakaranth, @romanlutz

Add warning message in cohort editor for invalid input value; Update 'Shift cohort' to 'Switch cohort' (#1339)
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditor.styles.ts
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditor.tsx
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditorFilter.tsx
  libs/localization/src/lib/en.json
Owners: none

Rename counterfactual style files to confirm with *.styles.ts (#1338)
  libs/counterfactuals/src/lib/CounterfactualChart.styles.ts
  libs/counterfactuals/src/lib/CounterfactualChart.tsx
  libs/counterfactuals/src/lib/CounterfactualList.styles.ts
  libs/counterfactuals/src/lib/CounterfactualList.tsx
  libs/counterfactuals/src/lib/CounterfactualPanel.styles.ts
  libs/counterfactuals/src/lib/CounterfactualPanel.tsx
  libs/counterfactuals/src/lib/CustomPredictionLabels.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444

Add disaggregated analysis table to Model Overview (#1341)
  .eslintrc/.eslintrc.import.eslintrc
  libs/core-ui/src/lib/Highchart/HeatmapHighChart.tsx
  libs/core-ui/src/lib/Highchart/HighchartTypes.ts
  libs/core-ui/src/lib/Highchart/HighchartsModules.tsx
  libs/localization/src/lib/en.json
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/CohortStatsHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/DisaggregatedAnalysisTable.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ModelOverview.styles.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ModelOverview.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/StatsTableUtils.ts
Owners: @romanlutz, @xuke444

Rename causal style files to confirm with *.styles.ts (#1342)
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalAggregateView/CausalAggregate.styles.ts
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalAggregateView/CausalAggregateView.tsx
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalIndividualView/CausalIndividual.styles.ts
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalIndividualView/CausalIndividualChart.styles.ts
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalIndividualView/CausalIndividualChart.tsx
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalIndividualView/CausalIndividualView.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444

update responsibleai to interpret-community 0.25.0 (#1343)
  responsibleai/requirements.txt
Owners: @gaugup, @imatiach-msft, @riedgar-ms, @xuke444, @kicha0

All component title and descriptions should be aligned (#1346)
  apps/widget-e2e/src/describer/modelAssessment/Constants.ts
  libs/causality/src/lib/CausalAnalysisDashboard/CausalInsights.styles.ts
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalAggregateView/CausalAggregateView.tsx
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalIndividualView/CausalIndividualView.tsx
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/TreatmentView/TreatmentBarChartSection.tsx
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/TreatmentView/TreatmentListSection.tsx
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/TreatmentView/TreatmentStyles.ts
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/TreatmentView/TreatmentTable.styles.ts
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/TreatmentView/TreatmentTableSection.tsx
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/TreatmentView/TreatmentView.tsx
  libs/counterfactuals/src/lib/LocalImportanceChart.tsx
  libs/dataset-explorer/src/lib/DatasetExplorerTab.styles.ts
  libs/dataset-explorer/src/lib/DatasetExplorerTab.tsx
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/ErrorAnalysisView/ErrorAnalysis.styles.ts
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/ErrorAnalysisView/ErrorAnalysisViewTab.tsx
  libs/interpret/src/lib/MLIDashboard/Controls/GlobalExplanationTab/GlobalExplanationTab.styles.ts
  libs/interpret/src/lib/MLIDashboard/Controls/WhatIfTab/LocalImportancePlots.tsx
  libs/interpret/src/lib/MLIDashboard/Controls/WhatIfTab/WhatIfTab.styles.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/IndividualFeatureImportanceView.styles.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/IndividualFeatureImportanceView.tsx
Owners: @xuke444, @vinuthakaranth, @romanlutz, @tongyu-microsoft, @imatiach-msft, @gaugup

Remove 5K limit blurb from local explanations tab (#1347)
  libs/localization/src/lib/en.json
Owners: none

Sort features by default in counterfactual flyout (#1312)
  apps/widget-e2e/src/describer/modelAssessment/whatIfCounterfactuals/describeWhatIfCreate.ts
  libs/counterfactuals/src/lib/CounterfactualPanel.tsx
Owners: @xuke444, @vinuthakaranth, @romanlutz, @tongyu-microsoft

Counterfactual flyout top section need to be moved to left & Error analysis move side content to align with description text (#1350)
  libs/core-ui/src/lib/Cohort/CohortInfo/CohortInfo.styles.ts
  libs/counterfactuals/src/lib/CounterfactualPanel.styles.ts
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444

move the root all data statistics to ErrorReport and ErrorAnalysisData (#1344)
  erroranalysis/erroranalysis/_internal/constants.py
  erroranalysis/erroranalysis/_internal/matrix_filter.py
  erroranalysis/erroranalysis/_internal/surrogate_error_tree.py
  erroranalysis/erroranalysis/analyzer/error_analyzer.py
  erroranalysis/erroranalysis/report/error_report.py
  erroranalysis/erroranalysis/version.py
  erroranalysis/tests/test_error_report.py
  erroranalysis/tests/test_root_stats.py
Owners: @gaugup, @imatiach-msft

update error analysis documentation to clarify the error tree splits on errors even when other metrics are selected (#1349)
  libs/localization/src/lib/en.json
Owners: none

update erroranalysis to 0.2.1 and remove some duplicate dependencies (#1334)
  raiwidgets/requirements.txt
  responsibleai/requirements.txt
Owners: @imatiach-msft, @xuke444, @romanlutz, @gaugup, @riedgar-ms, @kicha0

disable turbo checking for large amount of data (#1351)
  libs/core-ui/src/lib/util/getDependencyChartOptions.ts
Owners: none

force re-render when chart type changes (#1354)
  libs/core-ui/src/lib/Highchart/BasicHighChart.tsx
Owners: none

move the root all data statistics to ErrorReport and ErrorAnalysisData (#1352)
  .eslintrc/.eslintrc.custom.eslintrc
  apps/widget/src/app/ErrorAnalysis.tsx
  libs/core-ui/src/lib/Interfaces/IErrorAnalysisData.ts
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/ErrorAnalysisDashboard.tsx
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Interfaces/IErrorAnalysisDashboardProps.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Context/buildModelAssessmentContext.ts
  raiwidgets/raiwidgets/error_analysis_dashboard_input.py
  raiwidgets/raiwidgets/explanation_constants.py
  responsibleai/responsibleai/_interfaces.py
  responsibleai/responsibleai/_internal/constants.py
  responsibleai/responsibleai/_tools/error_analysis/dashboard_schemas/error_analysis_output_v0.0.json
  responsibleai/responsibleai/managers/error_analysis_manager.py
Owners: @xuke444, @vinuthakaranth, @romanlutz, @imatiach-msft, @gaugup, @riedgar-ms, @kicha0

Rename output column name in the counterfactual flyout (#1353)
  libs/counterfactuals/src/lib/CounterfactualList.tsx
  libs/localization/src/lib/en.json
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444

Show column chart for categorical feature in data explorer (#1355)
  libs/dataset-explorer/src/lib/getDatasetBar.ts
  libs/dataset-explorer/src/lib/getDatasetBarOption.ts
  libs/dataset-explorer/src/lib/getDatasetOption.ts
Owners: @romanlutz, @xuke444

update fluentui (#1356)
  package.json
  yarn.lock
Owners: none

CODEOWNERS:

# Error analysis package
/erroranalysis @gaugup @imatiach-msft

# Responsible AI widgets package
/raiwidgets @imatiach-msft @xuke444 @romanlutz

# Responsible AI SDK package
/responsibleai @gaugup @imatiach-msft @riedgar-ms @xuke444 @kicha0

# workspace settings
#/* @xuke444

# App
/apps @xuke444 @vinuthakaranth @romanlutz

#causal ui
/libs/causality @tongyu-microsoft @romanlutz @vinuthakaranth @xuke444

#counterfactuals ui
/libs/counterfactuals @tongyu-microsoft @romanlutz @vinuthakaranth @xuke444

#dataset-explorer ui
/libs/dataset-explorer @romanlutz @xuke444

#error-analysis ui
/libs/error-analysis @romanlutz @imatiach-msft @xuke444

#fairness ui
/libs/fairness @romanlutz @riedgar-ms @xuke444

#interpret ui
/libs/interpret @romanlutz @gaugup @xuke444

#interpret-text ui
/libs/interpret-text @imatiach-msft @gaugup @tongyu-microsoft @xuke444

#model-assessment ui
/libs/model-assessment @romanlutz @xuke444
