Repository microsoft/responsible-ai-toolbox, changes with the owners that CODEOWNERS names for each.
All owners: @gaugup, @imatiach-msft, @xuke444, @romanlutz, @riedgar-ms, @kicha0, @vinuthakaranth, @tongyu-microsoft

Add more tests
  raiwidgets/tests/test_responsibleai_dashboard_input.py
Owners: @imatiach-msft, @xuke444, @romanlutz

Fix imports
  raiwidgets/tests/test_responsibleai_dashboard_input.py
Owners: @imatiach-msft, @xuke444, @romanlutz

Add PandasDataBalanceService to compute data balance measures via the raimitigations pkg
  responsibleai/requirements.txt
  responsibleai/responsibleai/_tools/data_balance/__init__.py
  responsibleai/responsibleai/_tools/data_balance/pandas_data_balance_service.py
  responsibleai/tests/data_balance/__init__.py
  responsibleai/tests/data_balance/conftest.py
  responsibleai/tests/data_balance/test_pandas_data_balance_service.py
  responsibleai/tests/data_balance/test_raimitigations.py
  responsibleai/tests/test_dependencies.py
Owners: @gaugup, @imatiach-msft, @riedgar-ms, @xuke444, @kicha0

Address code review comments
  raiwidgets/tests/test_responsibleai_dashboard_input.py
Owners: @imatiach-msft, @xuke444, @romanlutz

Add more unittests RAI dashboard input class (#1448)
  raiwidgets/tests/test_responsibleai_dashboard_input.py
Owners: @imatiach-msft, @xuke444, @romanlutz

add datetime and timeseries support for error analysis
  erroranalysis/erroranalysis/_internal/surrogate_error_tree.py
  erroranalysis/erroranalysis/analyzer/error_analyzer.py
Owners: @gaugup, @imatiach-msft

more update
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalIndividualView/CausalIndividualChart.tsx
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalIndividualView/CausalWhatIf.tsx
  libs/core-ui/src/lib/Cohort/Cohort.ts
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditor.tsx
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditorFilter.tsx
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/FilterList.tsx
  libs/core-ui/src/lib/components/AxisConfigDialog.tsx
  libs/core-ui/src/lib/components/OverallMetricChart.tsx
  libs/core-ui/src/lib/util/getBasicFilterString.ts
  libs/core-ui/src/lib/util/getDependenceData.ts
  libs/core-ui/src/lib/util/getFilterBoundsArgs.ts
  libs/counterfactuals/src/lib/CounterfactualChart.tsx
  libs/dataset-explorer/src/lib/DatasetExplorerTab.tsx
  libs/dataset-explorer/src/lib/SidePanel.tsx
  libs/dataset-explorer/src/lib/buildCustomData.ts
  libs/dataset-explorer/src/lib/buildHoverTemplate.ts
  libs/dataset-explorer/src/lib/generatePlotlyProps.ts
  libs/dataset-explorer/src/lib/getDatasetOption.ts
  libs/interpret/src/lib/MLIDashboard/Controls/DependencePlot/DependencePlot.tsx
  libs/interpret/src/lib/MLIDashboard/Controls/MultiICEPlot/MultiICEPlot.tsx
  libs/interpret/src/lib/MLIDashboard/Controls/WhatIfTab/ExistingPredictionLabels.tsx
  libs/interpret/src/lib/MLIDashboard/Controls/WhatIfTab/WhatIfTab.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @gaugup

update
  libs/e2e/src/lib/describer/modelAssessment/causalAnalysis/describeAggregateCausalAffects.ts
  libs/e2e/src/lib/describer/modelAssessment/featureImportances/individualFeatureImportance/describeSubBarChart.ts
  libs/e2e/src/lib/describer/modelAssessment/featureImportances/individualFeatureImportance/describeSubLineChart.ts
  libs/e2e/src/lib/describer/modelAssessment/whatIfCounterfactuals/describeSubBarChart.ts
Owners: none

more ids in model overview
  libs/e2e/src/lib/describer/modelAssessment/Constants.ts
  libs/e2e/src/lib/describer/modelAssessment/modelOverview/v2/describeModelOverview.ts
Owners: none

update
  libs/e2e/src/lib/describer/modelAssessment/Constants.ts
  libs/e2e/src/lib/describer/modelAssessment/whatIfCounterfactuals/describeAxisFlyouts.ts
Owners: none

skip what-if create tests for AML
  libs/e2e/src/lib/describer/modelAssessment/whatIfCounterfactuals/describeWhatIfCreate.ts
Owners: none

Update the way to get the length of elements obtained in e2e tests (#1450)
  libs/e2e/src/lib/describer/modelAssessment/Constants.ts
  libs/e2e/src/lib/describer/modelAssessment/causalAnalysis/describeAggregateCausalAffects.ts
  libs/e2e/src/lib/describer/modelAssessment/featureImportances/individualFeatureImportance/describeSubBarChart.ts
  libs/e2e/src/lib/describer/modelAssessment/featureImportances/individualFeatureImportance/describeSubLineChart.ts
  libs/e2e/src/lib/describer/modelAssessment/whatIfCounterfactuals/describeAxisFlyouts.ts
  libs/e2e/src/lib/describer/modelAssessment/whatIfCounterfactuals/describeSubBarChart.ts
  libs/e2e/src/lib/describer/modelAssessment/whatIfCounterfactuals/describeWhatIfCreate.ts
Owners: none

Update postbuild with changes in main (#1451)
  .github/workflows/CD.yml
  .github/workflows/CI-notebook.yml
  .github/workflows/CI-python.yml
  .github/workflows/CI-typescript.yml
  .github/workflows/Ci-raiwigets-python-typescript.yml
  .github/workflows/release-rai.yml
  CHANGES.md
  libs/core-ui/src/lib/util/getDependencyChartOptions.ts
  libs/e2e/src/lib/describer/modelAssessment/Constants.ts
  libs/e2e/src/lib/describer/modelAssessment/causalAnalysis/describeAggregateCausalAffects.ts
  libs/e2e/src/lib/describer/modelAssessment/dataExplorer/describeCohortFunctionality.ts
  libs/e2e/src/lib/describer/modelAssessment/featureImportances/aggregateFeatureImportance/describeGlobalExplanationChart.ts
  libs/e2e/src/lib/describer/modelAssessment/featureImportances/individualFeatureImportance/describeIndividualFeatureImportance.ts
  libs/e2e/src/lib/describer/modelAssessment/featureImportances/individualFeatureImportance/describeSubBarChart.ts
  libs/e2e/src/lib/describer/modelAssessment/featureImportances/individualFeatureImportance/describeSubLineChart.ts
  libs/e2e/src/lib/describer/modelAssessment/featureImportances/individualFeatureImportance/describeTabularDataView.ts
  libs/e2e/src/lib/describer/modelAssessment/modelAssessmentDatasets.ts
  libs/e2e/src/lib/describer/modelAssessment/modelStatistics/describeModelPerformanceSideBar.ts
  libs/e2e/src/lib/describer/modelAssessment/whatIfCounterfactuals/describeAxisFlyouts.ts
  libs/e2e/src/lib/describer/modelAssessment/whatIfCounterfactuals/describeSubBarChart.ts
  libs/e2e/src/lib/describer/modelAssessment/whatIfCounterfactuals/describeWhatIf.ts
  libs/e2e/src/lib/describer/modelAssessment/whatIfCounterfactuals/describeWhatIfCreate.ts
  libs/e2e/src/util/createCohort.ts
  libs/e2e/src/util/generateId.ts
  raiwidgets/tests/test_responsibleai_dashboard_input.py
  version.cfg
Owners: @imatiach-msft, @xuke444, @romanlutz

Fix TypeError: Cannot read properties of undefined (reading 'treatAsCategorical')" (#1452)
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalIndividualView/CausalIndividualChart.tsx
  libs/causality/src/lib/CausalAnalysisDashboard/Controls/CausalAnalysisView/CausalIndividualView/CausalWhatIf.tsx
  libs/core-ui/src/lib/Cohort/Cohort.ts
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditor.tsx
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/CohortEditorFilter.tsx
  libs/core-ui/src/lib/Cohort/ManualCohortManagement/FilterList.tsx
  libs/core-ui/src/lib/components/AxisConfigDialog.tsx
  libs/core-ui/src/lib/components/OverallMetricChart.tsx
  libs/core-ui/src/lib/util/getBasicFilterString.ts
  libs/core-ui/src/lib/util/getDependenceData.ts
  libs/core-ui/src/lib/util/getFilterBoundsArgs.ts
  libs/counterfactuals/src/lib/CounterfactualChart.tsx
  libs/dataset-explorer/src/lib/DatasetExplorerTab.tsx
  libs/dataset-explorer/src/lib/SidePanel.tsx
  libs/dataset-explorer/src/lib/buildCustomData.ts
  libs/dataset-explorer/src/lib/buildHoverTemplate.ts
  libs/dataset-explorer/src/lib/generatePlotlyProps.ts
  libs/dataset-explorer/src/lib/getDatasetOption.ts
  libs/interpret/src/lib/MLIDashboard/Controls/DependencePlot/DependencePlot.tsx
  libs/interpret/src/lib/MLIDashboard/Controls/GlobalExplanationTab/GlobalExplanationTab.tsx
  libs/interpret/src/lib/MLIDashboard/Controls/MultiICEPlot/MultiICEPlot.tsx
  libs/interpret/src/lib/MLIDashboard/Controls/WhatIfTab/ExistingPredictionLabels.tsx
  libs/interpret/src/lib/MLIDashboard/Controls/WhatIfTab/WhatIfTab.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @gaugup

fix heatmap bug (#1297)
  libs/core-ui/src/lib/util/getFeatureImportanceBarOptions.ts
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/Matrix/MatrixArea/MatrixArea.tsx
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/Matrix/MatrixArea/MatrixAreaUtils.ts
Owners: @romanlutz, @imatiach-msft, @xuke444

Make "save and switch" work from cohort settings (#1276)
  libs/core-ui/src/lib/Context/ModelAssessmentContext.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Cohort/CohortList.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/ModelAssessmentDashboard.tsx
Owners: @romanlutz, @xuke444

add retry logic to codecov step and only upload results for one python version (#1298)
  .github/workflows/CI-python.yml
  .github/workflows/Ci-raiwigets-python-typescript.yml
  rai_core_flask/requirements.txt
Owners: none

add github action to release raiutils to pypi (#1294)
  .github/workflows/release-raiutils.yml
Owners: none

Add highchart for Dataset Explorer (#1286)
  apps/dashboard-e2e/src/describer/interpret/datasetExplorer/describeAggregatePlot.ts
  apps/dashboard-e2e/src/describer/interpret/datasetExplorer/describeIndividualDatapoints.ts
  apps/widget-e2e/src/describer/modelAssessment/dataExplorer/describeAggregatePlot.ts
  apps/widget-e2e/src/describer/modelAssessment/dataExplorer/describeCohortFunctionality.ts
  apps/widget-e2e/src/describer/modelAssessment/dataExplorer/describeIndividualDatapoints.ts
  libs/core-ui/src/index.ts
  libs/core-ui/src/lib/util/getBoxData.ts
  libs/core-ui/src/lib/util/getFeatureImportanceBoxOptions.ts
  libs/dataset-explorer/src/lib/DatasetExplorerTab.styles.ts
  libs/dataset-explorer/src/lib/DatasetExplorerTab.tsx
  libs/dataset-explorer/src/lib/SidePanel.tsx
  libs/dataset-explorer/src/lib/buildScatterTemplate.ts
  libs/dataset-explorer/src/lib/getDatasetBoxOption.ts
  libs/dataset-explorer/src/lib/getDatasetOption.ts
  libs/dataset-explorer/src/lib/getDatasetScatter.ts
  libs/dataset-explorer/src/lib/getDatasetScatterOption.ts
  libs/dataset-explorer/src/lib/getGroupedData.ts
Owners: @xuke444, @vinuthakaranth, @romanlutz

Update requirements-linting.txt to add flake8-pytest-style (#1296)
  requirements-linting.txt
Owners: none

Fix sort abs (#1299)
  libs/interpret/src/lib/MLIDashboard/Controls/WhatIfTab/LocalImportancePlots.tsx
Owners: @romanlutz, @gaugup, @xuke444

Rename "base cohort" to "global cohort" (#1278)
  libs/core-ui/src/lib/Cohort/CohortBaseAndFilters/CohortBaseAndFilters.tsx
  libs/localization/src/lib/en.json
Owners: none

fix codecov comment not appearing on PRs (#1302)
  .github/workflows/CI-python.yml
  .github/workflows/Ci-raiwigets-python-typescript.yml
Owners: none

Limit individual feature importance selection to up to 5 (#1305)
  libs/core-ui/src/lib/components/LabelWithCallout.tsx
  libs/localization/src/lib/en.json
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/IndividualFeatureImportanceView.styles.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/IndividualFeatureImportanceView.tsx
Owners: @romanlutz, @xuke444

take absolute value of error calculation for regression scenario (#1301)
  apps/widget-e2e/src/describer/modelAssessment/Constants.ts
  apps/widget-e2e/src/describer/modelAssessment/IModelAssessmentData.ts
  apps/widget-e2e/src/describer/modelAssessment/dataExplorer/describeIndividualDatapoints.ts
  apps/widget-e2e/src/describer/modelAssessment/modelAssessmentDatasets.ts
  libs/core-ui/src/lib/util/JointDataset.ts
Owners: @xuke444, @vinuthakaranth, @romanlutz

Add error message for counterfactual panel (#1310)
  libs/core-ui/src/lib/Interfaces/ICounterfactualData.ts
  libs/counterfactuals/src/lib/CounterfactualPanel.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444

Add to_json() and from_json() methods to Cohort class (#1300)
  raiwidgets/raiwidgets/cohort.py
  raiwidgets/tests/test_cohort.py
Owners: @imatiach-msft, @xuke444, @romanlutz

Add a highchart heatmap helper class (#1307)
  libs/core-ui/src/index.ts
  libs/core-ui/src/lib/Highchart/HeatmapHighChart.tsx
Owners: none

Fix cohort setting string (#1304)
  apps/widget-e2e/src/describer/modelAssessment/Constants.ts
  libs/core-ui/src/lib/Cohort/CohortInfoSection/CohortInfoSection.tsx
  libs/dataset-explorer/src/lib/SidePanel.tsx
  libs/localization/src/lib/en.json
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Cohort/ChangeGlobalCohortButton.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Cohort/CreateGlobalCohortButton.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/MainMenu.tsx
Owners: @xuke444, @vinuthakaranth, @romanlutz

Fix all data style (#1303)
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Cohort/CohortList.styles.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Cohort/CohortList.tsx
Owners: @romanlutz, @xuke444

Add a feature flag for the new model overview experience (#1306)
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview.styles.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/TabsView/TabsView.tsx
Owners: @romanlutz, @xuke444

Clean up charts code (#1313)
  libs/core-ui/src/index.ts
  libs/core-ui/src/lib/components/DisaggregatedMetricsTable.tsx
  libs/core-ui/src/lib/components/OverallMetricChart.tsx
Owners: none

Expand the counterfactual flyout to cover the full page (#1315)
  libs/counterfactuals/src/lib/CounterfactualPanel.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444

fix random node download failures by upgrading to latest github action with retry logic (#1317)
  .github/workflows/CD.yml
  .github/workflows/CI-codescan.yml
  .github/workflows/CI-notebook.yml
  .github/workflows/CI-python.yml
  .github/workflows/CI-typescript.yml
  .github/workflows/Ci-raiwigets-python-typescript.yml
  .github/workflows/GitHubPages.yml
  .github/workflows/python-linting.yml
  .github/workflows/release-erroranalysis.yml
  .github/workflows/release-flask.yml
  .github/workflows/release-rai.yml
  .github/workflows/release-raiutils.yml
Owners: none

Add dataset cohort table to new ModelOverview experience (#1314)
  libs/localization/src/lib/en.json
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/CohortStatsHeatmap.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/DatasetCohortStatsTable.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/ModelOverview.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/ModelOverview/StatsTableUtils.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/TabsView/TabsView.tsx
Owners: @romanlutz, @xuke444

Add installation instructions for raiwidgets to README (#1320)
  README.md
Owners: none

refactor RAIInsights into RAIInsightsBase class for basic functionality (#1284)
  responsibleai/responsibleai/rai_insights/rai_base_insights.py
  responsibleai/responsibleai/rai_insights/rai_insights.py
Owners: @gaugup, @imatiach-msft, @riedgar-ms, @xuke444, @kicha0

Fix what if counterfactual header and description text misaligned (#1316)
  libs/causality/src/lib/CausalAnalysisDashboard/CausalInsights.styles.ts
  libs/causality/src/lib/CausalAnalysisDashboard/CausalInsightsTab.tsx
  libs/counterfactuals/src/lib/CounterfactualsTab.styles.ts
  libs/counterfactuals/src/lib/CounterfactualsTab.tsx
  libs/counterfactuals/src/lib/CounterfactualsView.tsx
  libs/counterfactuals/src/lib/buildCounterfactualState.ts
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/ErrorAnalysisView/ErrorAnalysisViewTab.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/FeatureImportances.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/TabsView/TabsView.tsx
Owners: @tongyu-microsoft, @romanlutz, @vinuthakaranth, @xuke444, @imatiach-msft

add clear temporary cohort button to error analysis (#1322)
  libs/core-ui/src/lib/Cohort/CohortInfo/CohortInfoPanel.tsx
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/ErrorAnalysisView/ErrorAnalysisView.tsx
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/ErrorAnalysisView/ErrorAnalysisViewTab.tsx
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/TreeLegend/TreeLegend.styles.ts
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/TreeLegend/TreeLegend.tsx
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/TreeViewRenderer/TreeViewProps.tsx
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/Controls/TreeViewRenderer/TreeViewRenderer.tsx
  libs/error-analysis/src/lib/ErrorAnalysisDashboard/ErrorAnalysisDashboard.tsx
  libs/localization/src/lib/en.json
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/TabsView/TabsView.tsx
  libs/model-assessment/src/lib/ModelAssessmentDashboard/Controls/TabsView/TabsViewProps.ts
  libs/model-assessment/src/lib/ModelAssessmentDashboard/ModelAssessmentDashboard.tsx
Owners: @romanlutz, @imatiach-msft, @xuke444

Add test case for handling different types in causal (#1321)
  responsibleai/tests/causal/conftest.py
  responsibleai/tests/causal/test_causal_different_data_types.py
Owners: @gaugup, @imatiach-msft, @riedgar-ms, @xuke444, @kicha0

CODEOWNERS:

# Error analysis package
/erroranalysis @gaugup @imatiach-msft

# Responsible AI widgets package
/raiwidgets @imatiach-msft @xuke444 @romanlutz

# Responsible AI SDK package
/responsibleai @gaugup @imatiach-msft @riedgar-ms @xuke444 @kicha0

# workspace settings
#/* @xuke444

# App
/apps @xuke444 @vinuthakaranth @romanlutz

#causal ui
/libs/causality @tongyu-microsoft @romanlutz @vinuthakaranth @xuke444

#counterfactuals ui
/libs/counterfactuals @tongyu-microsoft @romanlutz @vinuthakaranth @xuke444

#dataset-explorer ui
/libs/dataset-explorer @romanlutz @xuke444

#error-analysis ui
/libs/error-analysis @romanlutz @imatiach-msft @xuke444

#fairness ui
/libs/fairness @romanlutz @riedgar-ms @xuke444

#interpret ui
/libs/interpret @romanlutz @gaugup @xuke444

#interpret-text ui
/libs/interpret-text @imatiach-msft @gaugup @tongyu-microsoft @xuke444

#model-assessment ui
/libs/model-assessment @romanlutz @xuke444
